<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<main class = "container">
      <div class="row">
        <div class="col-md-offset-3">
        <h1> <%=title%></h1>
            <a href="/animelist/add" class="btn btn-primary" 
            role="button"><i class="fas fa-plus-circle"></i> Add Anime</a>
        <br>
        <!--This is the table it has and has the edit button and delete button -->
      <table class= "table table-bordered table-striped table-hover">
      <tr class="d-flex">
        <th class ="text-center col-2">Title</th>
        <th class ="text-center col-2">Studio</th>
        <th class ="text-center col-1">Year</th>

        </td>
      <% for(let i=0; i< AnimeList.length; i++) { %>
          <tr class="d-flex">
            <td class ="text-center col-2"><%= AnimeList[i].title %></td>
            <td class ="text-center col-2"><%= AnimeList[i].studio %></td>
            <td class ="text-center col-1"><%= AnimeList[i].year %></td>
            <td class ="text-center col-1">

              <a href="/animelist/edit/<%= AnimeList[i]._id %>"
                class="btn btn-primary">
                <i class="fas fa-pencil-all"></i> Edit </td>
            </td>
            <td class ="text-center col-1">
                <a href="/animelist/delete/<%= AnimeList[i]._id %>"
                  class="btn btn-danger">
                  <i class="fas fa-trash-alt"></i> Delete </td>
                </td>
                <br>
                

            

          </tr>
        <% } %>
        </tr>
        </table>
        </div>
    </div>
    </div>
    </main>
<%- include('../partials/footer.ejs') %>
